body{ background: #eaeaea url(../imgs/tps-logo.png) 0 0 repeat;text-align: center;}
.clearfix {
  overflow: auto;
  zoom: 1;
}

.wrap{ background-color: #fff; width: 1047px; margin: 0 auto;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(209,209,209,1);
-moz-box-shadow: -1px 4px 15px 0px rgba(209,209,209,1);
box-shadow: -1px 4px 15px 0px rgba(209,209,209,1);}
.content{ text-align: left; padding: 10px 320px 10px 20px;}
.content p{ line-height: 24px;}
.content-center{ text-align: left; padding: 20px 20px 80px;}
.sidebar{ float: right; margin-right: -300px;}
.box{ width: 280px; border: 1px solid #ccc; margin: 0 0 40px; border-radius: 4px;}
.box .banner{ margin: 1px;}
.box-content{ padding:10px 20px; font-size: 12px; line-height: 18px;}
.info{margin: 40px 0; background: #fdfce8 url(../imgs/position.png) right 10px no-repeat; line-height: 26px; font-weight: bold; color:#243d4e;}
.info-title{width: 30px; padding: 30px 5px;text-align: center; margin-right: 20px; display: inline-block; float:left; background-color:#f2e600; font-weight: bold;}
.info-content{ padding: 30px;}
.form-wrap{
    position: relative;padding:30px 40px 40px; margin: 20px 0 70px; border:4px solid #ebf3fb; border-radius: 4px;}
.form-intro{ margin: 0 0 60px;}
.input-wrap{margin: 0 0 20px;}
.input-wrap label{ float: left; width: 100px; text-align: right; padding: 0 10px 0 0;}
.submit-btn{border:0; margin-left:110px; display:inline-block;color:#fff; font-weight: bold; border-radius: 4px;text-decoration: none; padding: 10px 60px 10px 90px; background: #0169d0 url(../imgs/submit.png) 20px 0 no-repeat;}

.sponsors span{  line-height:56px; float: left; font-size: 12px; font-weight:bold;}
.footer{ padding: 60px 0;}

.full-cover{display:block; width: 619px; height: 320px;padding:100px 40px 40px; position: absolute;top:0; left:0;
            text-align:center;font-weight: bold; color:#f00;
             background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
             background: rgba(255, 255, 255, 0.8);}
.js-error{
    display: block;
    padding-left: 110px;
    margin: 6px 0 0;
    color: #f00;
    font-size: 12px;}
